.carousel-item {
  display: block !important;
  z-index: 1;
  position: absolute;
  transition: opacity 1.5s easy-in-out, visibility 1s;
  opacity: 0;
  visibility: hidden;
}
.carousel-item.active {
  position: relative;
  transition: opacity 1.5s easy-in-out, visibility 1s;
  visibility: visible;
  opacity: 1;
}
